export(bfa_copula)
export(bfa_gauss)
export(bfa_mixed)
export(corr_samp)
export(cov_samp)
export(get_coda)
export(utri_restrict)
export(var.bfa)
export(woodbury)
import(coda)
S3method(biplot,bfa)
S3method(coef,bfa)
S3method(HPDinterval,bfa)
S3method(mean,bfa)
S3method(predict,bfa)
S3method(print,bfa)
useDynLib(bfa)
